@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bytesized&family=Rock+Salt&family=Rowdies:wght@300;400;700&family=Rubik+Mono+One&display=swap');body{
    background-color: slategrey;
}

header{
    font-family: "Barriecito", system-ui;
    font-size: xx-large;
    font-style: normal;
}
main{
    color: aquamarine; background-color: dimgray; border-radius: 1cm;
    font-family: "Bytesized", sans-serif;
    font-style: normal;
    font-size: medium;
}
p{
    font-family: "Rock Salt", cursive;
    font-size: medium;
    font-style: normal;
}
footer{
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}